.postbox_actions .button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.fc .fc-bg-event {
    opacity: 1 !important
}

.fc .fc-highlight {
    background: rgba(184, 233, 148, .25) !important
}

.inside_aside p {
    margin: 0;
    line-height: 1.2em;
}

.inside_aside #sort p {
    font-size: 16px;
}

.seasons_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seasons_flex div {
    flex: 1;
    text-align: center;
    padding: 6px 1px;
}

.inside_aside li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.inside_aside li.member {
    padding: 3px 10px 4px;
    justify-content: flex-start;
}

.inside_aside #sort li.member {
    padding: 6px 12px 7px;
    cursor: all-scroll;
}

.inside_aside li:not(.member) {
    justify-content: center;
    padding: 4px;
}

#calendar {
    max-width: 700px;
}

#owners_schedule {
    border-collapse: collapse;
}

#owners_schedule th,
#owners_schedule td {
    padding: 10px;
    text-align: center;
}

#owners_schedule th {
    background: #60C0A8;
    color: white;
}

#owners_schedule img {
    max-width: 90px;
    width: 100%;
    vertical-align: top;
}

#owners_schedule b {
    font-weight: 700;
}

.postbox-footer {
    padding: 8px 12px;
    border-top: 1px solid #c3c4c7;
}

.postbox-footer * {
    display: block !important;
    margin-left: auto !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    margin-right: 50px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
    margin-left: 50px;
}

input.disabled,
input:disabled,
select.disabled,
select:disabled,
textarea.disabled,
textarea:disabled {
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 1;
}

.fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
    opacity: 0.4;
}

.close_blocked_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close_blocked_date button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    color: red;
}
.calendar-edit-box {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.comment-center {
    display: flex;
}
.comment {
    flex-direction:column;
    gap:15px;
}

.comment h3 {
    margin:0;
}

.comment textarea {
    min-width:350px;
}

#commenting .postbox-header h2 {
    margin-inline: auto;
}

.fc-comments {
    position: absolute;
    right: 1px;
    width: 100%;
    min-width: 97px;
    font-size: 12px;
    line-height: 1.2;
    z-index: 10;
    top: 55px;
}
.fc-comment-item {
    background: #f1f1f1;
    padding: 3px 4px;
    border-radius: 4px;
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#calendar .fc-daygrid-day-top {
    position: relative;
}

#comment-center h4 {
    margin-block: 0px 10px;
}
#comment-center {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
#comments-date-title {
    display: none;
}
.title_comment {
    font-size: 16px !important;
}
.delete_comment {
    display: block;
    background: none;
    border: none;
    margin-left: auto;
    outline: none;
    color: #e74c3c;
    cursor: pointer;
    padding-inline: 10px;
}
.comment-actions {
    margin-block: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.comment-actions input.button {
    background-color: #60C0A8;
    border: none;
}
@media(max-width: 1200px) {
    .fc-comments {
        min-width: 76px;
        font-size: 11px;
        top: 35px;
    }
}
@media(max-width: 768px) {
    .fc-comments {
        min-width: 50px;
        font-size: 11px;
        top: 30px;
    }
}
@media(min-width: 1200px) {
    #comment-center {
        margin-top: 50px;
    }
}