.fc .fc-bg-event {
    opacity: 1 !important
}

.fc .fc-highlight {
    background: rgba(184, 233, 148, .25) !important
}

.postbox_actions * {
    width: 100%
}

.postbox_actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px
}

@media (min-width: 1320px) {
    #poststuff #post-body {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-gap: 24px;
        width: 100%;
    }

    #poststuff #post-body>* {
        position: relative !important;
        float: none !important;
        width: 100% !important;
        margin: 0 !important;
    }

    #postbox-container-1 .postbox {
        position: sticky;
        top: 50px;
    }
}